.hero-section{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    width: 80%;
    margin:0 auto;
    text-align: center;
}
.heroTagLine-wrap{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroTagLine{
    width: 58%;
    color: var(--textColor);
}
.heroTitle{
    font-weight: 400;
    font-size: 2.2rem;
}
.heroTitle strong{
    color: var(--title-color);
}
.searchForm{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
.searchForm input{
    width: 40%;
    padding: 10px 20px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    color: var(--textColor);
}
.searchForm input:focus{
    outline:2px solid var(--borderFocusColor);
}
.searchForm button{
    padding:10px 20px;
    color: white;
    background: rgba(98, 0, 255, 0.904);
    cursor: pointer;
}

/* ribbon */

.ribbon{
    display: flex;
    height:100px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: #4500b4;
    padding:40px 20px;
    transform: rotateY('26deg');
    color: #fff;
}
.statistics-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistics{
    font-size: 1.2rem;
}


/* featured jobs */

.sectionTitleWrap{
    text-align: center;
}
.cards{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.card{
    background: var(--cards-bg);
    padding: 0.8rem;
}
.card p{
    font-size: 0.9rem;
}

.cardFooter ,.cardHeader{
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0;
}
.cardContent{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.cardHeader{
    border-bottom:  1px solid #c5c5c542;
}
.cardFooter{
    margin-top: 10px;
    border-top: 1px solid #c5c5c542;
}

.cardHeader{
    margin-bottom: 10px;
}
.status{
    background: #cabfdb2f;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 0.5rem;
}
.applyBtn{
    color: #fff;
    cursor: pointer;
}

.seeMoreBtnWrap{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2rem;
}
.seeMoreBtnWrap a{
    color: var(--textColor);
}

.seperator{
    margin-top: 1.2rem;
}

.HowItWorks {
    background: #fff;
    padding: 20px 0;
    width: 100%;
    height: 80vh;
}

.HowItworksContent {
    display: grid;
    width: 80%;
    height: 100%; 
    gap: 30px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}
.steps{
    font-size: 0.8rem;
    color: var(--textColor);
    list-style: circle;
}


.imageWrap{
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}
.top-wrap{
    height: 260px;
}
.bottom-wrap{
    height: 100px;
    position: relative;
    left: -20px;
}
.top-wrap img, .bottom-wrap img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* subscription section */

.subscription-section{
    padding: 8rem 0;
}
.subscriptTitle p{
    width: 50%;
    margin: 0.3rem auto;
}
.subscriptionForm{
    width: 50%;
    margin: 0.9rem auto 0.2rem auto;
    display: flex;
    padding-bottom: 2rem;
    gap: 0.2rem;
}

.subscriptionForm input{
    width: 100%;
    padding: 10px 20px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    color: var(--textColor);
}






/* media queries */

@media screen and (max-width:600px){
    
    /* hero section styles */
    .hero-section{
        width: 100%;
        height: fit-content;
        padding: 8rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-content{
        width: 90%;
        margin:0 auto;
        text-align: center;
    }
    .heroTagLine{
        width: 100%;
        color: var(--textColor);
    }
    .heroTitle{
        font-weight: 400;
        font-size: 2.8rem;
    }
    
    .searchForm{
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .searchForm input{
        width: 65%;
    }
    .searchForm button{
        padding:10px 20px;
        color: white;
        background: rgba(98, 0, 255, 0.904);
        cursor: pointer;
    }
    
    /* ribbon */
    
    .ribbon{
        height: fit-content;
        display: grid;
        height: fit-content;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
        padding:20px 20px;
    }
    .statistics{
        font-size: 1.2rem;
    }
    .statistics-wrap span:nth-child(2){
        font-size: 1rem;
    }
    
    /* featured jobs */
    
    .sectionTitleWrap{
        text-align: center;
        padding: 2rem;
    }
    
    .cards{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .card p{
        font-size: 1rem;
    }
    .cardHeader{
        /* margin-bottom: 10px; */
        padding: 10px 0;
        border-bottom: 1px solid #e2e2e25e;
    }

    .cardFooter{
        padding: 10px 0;
        border-top: 1px solid #e2e2e25e;
    }
    .status{
        background: #cabfdb2f;
        padding: 2px 10px;
        border-radius: 10px;
        font-size: 0.5rem;
    }
    .applyBtn{
        color: #fff;
        cursor: pointer;
    }
    
    .seeMoreBtnWrap{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 2rem;
    }
    .seeMoreBtnWrap a{
        color: var(--textColor);
    }
    
    .seperator{
        margin-top: 1.2rem;
    }
    
    .HowItWorks {
        background: #fff;
        padding: 20px 0;
        width: 100%;
        height: fit-content;
    }
    
    .HowItworksContent {
        width: 88%;
        gap: 30px;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
        padding-left: 0.3rem;
    }

    .steps{
        font-size: 1rem;
        line-height: 25px;
        list-style: circle;
    }

    .imageWrap{
        height: 90%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
    }
    .top-wrap{
        height: 260px;
    }
    .bottom-wrap{
        height: 100px;
        position: relative;
        left: 0px;
    }
    .top-wrap img, .bottom-wrap img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    /* subscription section */
    .subscription-section{
        padding: 2rem 0;
    }
    .subscriptTitle p{
        width: 100%;
        margin: 0.15rem auto;
    }
    .subscriptionForm{
        width: 90%;
        margin: 0.5rem auto 0.2rem auto;
        display: flex;
        padding-bottom: 2rem;
        gap: 0.15rem;
    }

    .subscriptionForm input{
        width: 100%;
        padding: 10px 20px;
    }
}