.navbar{
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 20px;
}
.linksWrap{
    display: flex;
    gap: 50px;
}
.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navLink a{
    color: var(--navLinkColor);
}
.logo{
    color: var(--logo-color);
}
.dropDown{
    position: relative;
}
.dropDownMenu{
    display: none;
    transition: 0.6s ease all;
}
.dropDownMenu.showDropDown{
    display: block;
    left: -80px;
    position: absolute;
    z-index: 999;
    background-color: var(--cards-bg);
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
}
.dropDownMenu .dropDownMenu-link{
    cursor: pointer;
    color: var(--textColor);

    &:hover{
        color: var(--linkHover);
    }
}
.premium{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.premium .login{
    padding: 10px 30px;
    background: var(--btn-bg);
    border-radius: 50px;
}
.login a{
    color: #fff;
}

/* hero section styles */

.hero-section{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    width: 80%;
    margin:0 auto;
    text-align: center;
}
.heroTagLine-wrap{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroTagLine{
    width: 58%;
    color: var(--textColor);
}
.heroTitle{
    font-weight: 400;
    font-size: 2.2rem;
}
.heroTitle strong{
    color: var(--title-color);
}
.searchForm{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
.searchForm input{
    width: 40%;
    padding: 10px 20px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    color: var(--textColor);
}
.searchForm input:focus{
    outline:2px solid var(--borderFocusColor);
}
.searchForm button{
    padding:10px 20px;
    color: white;
    background: rgba(98, 0, 255, 0.904);
    cursor: pointer;
}

/* ribbon */

.ribbon{
    display: flex;
    height:100px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: #4500b4;
    padding:40px 20px;
    transform: rotateY('26deg');
    color: #fff;
}
.statistics-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistics{
    font-size: 1.2rem;
}


/* featured jobs */

.sectionTitleWrap{
    text-align: center;
}
.cards{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.card{
    background: var(--cards-bg);
    padding: 0.8rem;
}
.card p{
    font-size: 0.9rem;
}

.cardFooter ,.cardHeader{
    display: flex;
    justify-content: space-between;
}
.cardContent{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.cardFooter{
    margin-top: 10px;
}

.cardHeader{
    margin-bottom: 10px;
}
.status{
    background: #cabfdb2f;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 0.5rem;
}
.applyBtn{
    color: #fff;
    cursor: pointer;
}

.seeMoreBtnWrap{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2rem;
}
.seeMoreBtnWrap a{
    color: var(--textColor);
}
.steps{
    font-size: 0.8rem;
    color: var(--textColor);
}

.seperator{
    margin-top: 1.2rem;
}

.HowItWorks {
    background: #fff;
    padding: 20px 0;
    width: 100%;
    height: 80vh;
}

.HowItworksContent {
    display: grid;
    width: 80%;
    height: 100%; 
    gap: 30px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.imageWrap{
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}
.top-wrap{
    height: 260px;
}
.bottom-wrap{
    height: 100px;
    position: relative;
    left: -20px;
}
.top-wrap img, .bottom-wrap img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

footer{
    background: #23005a;
    height: 40vh;
}

.hamburger{
    padding: 5px 10px;
    border: 1px solid #a8a8a898;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}
/* mobile sidebar */
.mobileNavBar{
    display: none;
    height: 100vh;
    width: 80%;
    background: #23005a;
    position: absolute;
    top:0;
    padding: 2rem;
    left: -100%;
    transition: 0.6s ease all;
}

.mobileNavBar.sideBarToggled{
    left:0;
}
.mobile-linksWrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.mobile-navLinks{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}
.mobile-navLink a,.mobile-dropDownMenu-link a{
    color: #fff;
}
.mobile-upgrade{
    background: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 80px;
}
.mobile-upgrade p{
    font-size: 0.8rem;
}
.upgradeBtn{
    background: #23005a;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
}
.upgradeBtn a{
    color: #fff;
}
/* media queries */

@media screen and (max-width:600px){
    .hamburger{
        display: flex;
    }
    .mobileNavBar{
        display: block;
    }
    .navbar{
        width: 100%;
        padding: 0.6rem;
        background: var(--white);
    }
    .linksWrap{
        display: none;
        gap: 50px;
    }
    .navLinks{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .navLink{
        display: none;
    }
    
    .dropDown{
        position: relative;
    }
    .dropDownMenu{
        display: none;
        transition: 0.6s ease all;
    }
    
    
    /* hero section styles */
    
    .hero-section{
        width: 100%;
        height: fit-content;
        padding: 4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-content{
        width: 90%;
        margin:0 auto;
        text-align: center;
    }
    .heroTagLine{
        width: 100%;
        color: var(--textColor);
    }
    .heroTitle{
        font-weight: 400;
        font-size: 2.8rem;
    }
    
    .searchForm{
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .searchForm input{
        width: 65%;
    }
    .searchForm button{
        padding:10px 20px;
        color: white;
        background: rgba(98, 0, 255, 0.904);
        cursor: pointer;
    }
    
    /* ribbon */
    
    .ribbon{
        height: fit-content;
        display: grid;
        height: fit-content;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
        padding:20px 20px;
    }
    .statistics{
        font-size: 1.2rem;
    }
    .statistics-wrap span:nth-child(2){
        font-size: 1rem;
    }
    
    /* featured jobs */
    
    .sectionTitleWrap{
        text-align: center;
        padding: 2rem;
    }
    
    .cards{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .card p{
        font-size: 1rem;
    }
    .cardHeader{
        /* margin-bottom: 10px; */
        padding: 10px 0;
        border-bottom: 1px solid #e2e2e25e;
    }

    .cardFooter{
        padding: 10px 0;
        border-top: 1px solid #e2e2e25e;
    }
    .status{
        background: #cabfdb2f;
        padding: 2px 10px;
        border-radius: 10px;
        font-size: 0.5rem;
    }
    .applyBtn{
        color: #fff;
        cursor: pointer;
    }
    
    .seeMoreBtnWrap{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 2rem;
    }
    .seeMoreBtnWrap a{
        color: var(--textColor);
    }
    .steps{
        font-size: 1rem;
        line-height: 25px;
        color: var(--textColor);
    }
    
    .seperator{
        margin-top: 1.2rem;
    }
    
    .HowItWorks {
        background: #fff;
        padding: 20px 0;
        width: 100%;
        height: fit-content;
    }
    
    .HowItworksContent {
        display: grid;
        width: 90%;
        height: 100%; 
        gap: 30px;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
    }
    
    .imageWrap{
        height: 90%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
    }
    .top-wrap{
        height: 260px;
    }
    .bottom-wrap{
        height: 100px;
        position: relative;
        left: 0px;
    }
    .top-wrap img, .bottom-wrap img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    footer{
        background: #23005a;
        height: 40vh;
    }
}