.container{
    padding: 3rem 4rem;
    background-color: var(--background);
    height: 100vh;
}

.content_wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.content_wrapper a{
    color: var(--textColor);
}
.loginContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.form_wrap{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    border: 1px solid var(--borderColor);
}
.form_wrap h2{
    margin-bottom: 20px;
    font-weight: 200;
}
.input-group {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--textColor);
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    background-color: transparent;
    color: var(--textColor);
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-60%,);
    cursor: pointer;
}
.login-btn, .google-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-btn {
    background-color: #28a745;
    color: white;
}
.google-btn {
    background-color: #010ebb;
    color: white;
}
.form_seperator{
    padding: 2rem 0;
}
.text_wrap{
    text-align: start;
    margin: 2rem 0;
}

@media screen and (max-width:600px){
    .container{
        padding: 2rem;
    }
    .loginContainer  {
        height: fit-content;
    }
    .form_wrap{
        padding: 20px;
        width: 100%;
    }
    
}