*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins";
    list-style: none;
}

:root{
    --background: #fcfcfc;
    --textColor: #131313bb;
    --white:#fff;
    --title-color: rgba(98, 0, 255, 0.904);
    --cards-bg:#fff;
    --btn-bg: rgba(98, 0, 255, 0.904);
    --btn-color: #f2f2f2;
    --logo-color:rgba(98, 0, 255, 0.904);
    --linkHover: rgba(98, 0, 255, 0.904);
    --navLinkColor:#020202f5;
    --borderColor:#85858575;
    --borderFocusColor:rgba(98, 0, 255, 0.904);
}

.container{
    width: 100%;
    background: var(--background);
}

button{
    border: none;
    border-radius: 5px;
}

.btn{
    background: var(--btn-bg);
    color: var(--btn-color);
    padding: 10px 20px;
}

h3{
    font-weight: 400;
    font-size: 1.5rem;
}
.sectionPadding{
    padding: 100px 0px;
}
p{
    color: var(--textColor)

}
.sectionTitle{
    font-weight: 400;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
.ctn{
    margin-top: 1.2rem;
}

@media screen and (max-width:600px){
    h3{
        font-size: 1.2rem;
    }
    .sectionPadding{
        padding: 50px 0px;
    }
    p{
        font-size: 1rem;
    }
    .wrapper{
        width: 95%;
        margin: 0 auto;
    }
    .ctn{
        margin-top: 0.8rem;
    }
}